@use "sass:map";

@use "mixins/mixins" as *;
@use "common/var" as *;
@use "mixins/css-var" as *;
@use "mixins/function" as *;
@use "mixins/config" as *;

@use "./component_internal/wave.scss";

@include b(input) {
  @include set-component-css-var("input", $input);
}

@include b(textarea) {
  @include set-component-css-var("input", $input);
}

@include b(input) {
  width: getCssVar("input-width");
  display: inline-flex;
  align-items: center;
  background-color: getCssVar("input-bg-color");
  border: getCssVar("input-border");
  border-radius: getCssVar("input-border-radius");
  font-size: getCssVar("font-size", "base");
  padding: 0 12px;
  position: relative;
  transition: border 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  cursor: text;

  &:hover {
    border-color: getCssVar("input-hover-border-color");
  }

  // 波浪效果
  @include when(focus) {
    border-color: getCssVar("input-focus-border-color");
    // 波浪效果
    .#{$namespace}-base-wave {
      box-shadow: 0 0 0 3px getCssVar("input-ripple-color");
      transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  @include when(disabled) {
    cursor: not-allowed;
    background-color: getCssVar("input-disabled-bg-color");
    .#{$namespace}-input__inner {
      cursor: not-allowed;
    }
  }
  @include e(inner) {
    // 设置input的高度
    @include set-css-var-value("input-inner-height", calc(var(#{getCssVarName("component-size")}) - 2px));

    width: 100%;
    color: getCssVar("input-text-color");
    font-size: inherit;
    font-weight: 400;
    height: getCssVar("input-inner-height");
    line-height: getCssVar("input-inner-height");
    padding: 0;
    outline: none;
    border: none;
    background: none;
    box-sizing: border-box;

    &::placeholder {
      color: getCssVarWithDefault("input-placeholder-color", map.get($input, "placeholder-color"));
    }
  }

  .closeIcon {
    cursor: pointer;
    width: 24px;
    line-height: 24px;
    text-align: center;
    color: getCssVar("input-icon-color");
    &:hover {
      color: getCssVar("input-clear-hover-color");
    }
  }

  @each $size in (large, small) {
    @include m($size) {
      .#{$namespace}-input__inner {
        @include set-css-var-value("input-inner-height", calc(var(#{getCssVarName("component-size", $size)}) - 2px));
      }
    }
  }
}

@include b(textarea) {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: bottom;
  font-size: getCssVar("font-size", "base");
  border-radius: getCssVar("input-border-radius");

  @include e(inner) {
    position: relative;
    display: block;
    resize: vertical;
    padding: 5px 11px;
    line-height: 1.5;
    box-sizing: border-box;
    width: 100%;
    min-height: 52px;
    height: 52px;
    color: getCssVar("input-text-color");
    font-size: inherit;
    background-color: getCssVar("input-bg-color");
    border: getCssVar("input-border");
    transition: border 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    border-radius: inherit;
    outline: none;
    &:focus {
      border-color: getCssVar("input-focus-border-color");
    }
    &::placeholder {
      color: getCssVarWithDefault("input-placeholder-color", map.get($input, "placeholder-color"));
    }
  }

  // 波浪效果
  @include when(focus) {
    border-color: getCssVar("input-focus-border-color");
    // 波浪效果
    .#{$namespace}-base-wave {
      box-shadow: 0 0 0 2px getCssVar("input-ripple-color");
      transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
}
