@use "sass:map";

@use "../../_styles/common/util" as *;
@use "../../_styles/core/config" as *;
@use "../../_styles/core/mixins" as *;
@use "../../_styles/common/var" as *;
@use "../../_styles/core/css-var" as *;
@use "../../_styles/core/function" as *;

@use "../../_internal/popper/style";

@include b(select) {
  @include set-component-css-var("select", $select);
}

@include b(select) {
  position: relative;
  line-height: map.get($common-component-size, "default");
  cursor: pointer;

  @each $size in (large, small) {
    @include m($size) {
      line-height: map.get($common-component-size, $size);
    }
  }

  // 自定义触发器
  @include when(custom) {
    position: relative;
  }

  @include e(arrow) {
    color: rgba(0, 0, 0, 0.25);
    font-size: 7px;
    height: 16px;
    width: 16px;
  }

  @include e(clear) {
    cursor: pointer;
    color: getCssVar("select-icon-color");
    font-size: 14px;
    &:hover {
      color: getCssVar("select-clear-hover-color");
    }
  }

  &:hover {
    .#{$namespace}-input {
      border-color: getCssVar("select-hover-border-color");
    }
  }
  // 修改input样式
  .#{$namespace}-input {
    border-radius: getCssVar("select-border-radius");
    background-color: getCssVar("select-bg-color");

    .#{$namespace}-input__inner {
      color: getCssVar("select-text-color");
      &::placeholder {
        color: getCssVarWithDefault("select-placeholder-color", map.get($select, "placeholder-color"));
      }
    }
    &.is-disabled {
      background-color: getCssVar("select-disabled-bg-color");
    }
  }
}

// 下拉菜单样式
@include b(select-dropdown) {
  @include set-component-css-var("select-dropdown", $select-dropdown);
}

@include b(select-dropdown) {
  position: absolute;
  .dropdown__wrap {
    overflow-y: auto;
    max-height: getCssVar("select-dropdown", "max-height");
    border-radius: getCssVar("select-dropdown", "border-radius");
    border: 1px solid getCssVar("select-dropdown", "border-color");
    background: #fff;
    box-shadow: 0px 16px 24px 0px rgba(41, 80, 155, 0.1);
    overflow-x: hidden;
    @include scrollbarStyle();
  }
  .dropdown__list {
    padding: 4px;
  }
  .dropdown__item {
    display: inline-flex;
    width: 100%;
    height: getCssVar("select-dropdown", "item-height");
    padding: 0 8px;
    cursor: pointer;
    align-items: center;
    color: rgba(0, 0, 0, 0.85);
    font-size: 14px;
    @include noSelect();

    &:hover {
      border-radius: 4px;
      color: getCssVar("select-dropdown", "item-hover-color");
      background: getCssVar("select-dropdown", "item-hover-bgcolor");
    }

    // 选择时
    &.selected {
      color: getCssVar("select-dropdown", "selected-text-color");
    }
    // 禁用时
    &.disabled {
      cursor: not-allowed;
      color: getCssVar("select-dropdown", "item-disabled-text-color");
      &:hover {
        background: transparent;
      }
    }
  }
}
