@use "../core/config" as *;

// https://cn.vuejs.org/guide/built-ins/transition.html#css-based-transitions
.#{$namespace}-popper-scale-up-transition-enter-active,
.#{$namespace}-popper-scale-up-transition-leave-active {
  opacity: 1;
  // 缩放
  transform: scaleY(1);
  // 过渡动画
  transition:
    transform 0.3s cubic-bezier(0.23, 1, 0.32, 1),
    opacity 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  transform-origin: center top;
}

.#{$namespace}-popper-scale-up-transition-enter-from,
.#{$namespace}-popper-scale-up-transition-leave-to {
  // 缩放
  transform: scaleY(0);
}
